<h3>Welcome back <%=@user.first_name%>!</h3>
<h3>Here are all your saved discount voucher codes:</h3>
<br>

<%#iterate stores that the user has vouchers for with link%>
  <%#list voucher details - savings, options, code, exp_date%>

<%@user.vouchers.each do |voucher|%>
  <li><h3><a href = "/vouchers/<%=voucher.id%>"><%=voucher.store.store_name%></a></h3>
  <li>Voucher Code: <strong><%=voucher.code%></li></strong>
  <li>Savings: <%=voucher.savings%> <%=voucher.options%></li>
  <li>Expiry Date: <%=voucher.exp_date%>
  <%end%>


<br><br>

<a href='/vouchers/new'>Save a new discount voucher code here</a>

