<h3>Welcome back <%=@user.first_name%>!</h3>
<h3>Here are all your saved discount voucher codes:</h3>
<br>


<%@user.vouchers.each do |voucher|%>
    <li><h3><a href="/vouchers/<%=voucher.id%>"><%=voucher.store.store_name%></a></h3>
  <li>Voucher Code: <strong><%=voucher.code%></li></strong>
  <li>Savings: <%=voucher.savings%> <%=voucher.options%></li>
  <li>Expiry Date: <%=voucher.exp_date%>
  <%end%>


<br><br>
<br><br>
<a href='/vouchers/new'>Submit a new discount voucher code here</a> 
<br><br>
<a href='/stores'>Browse stores and find more discount codes</a>

