<h3>Welcome back <%=@user.first_name%>!</h3>
<h3>Here are all your saved discount voucher codes:</h3>
<br>



<%@user.vouchers.each do |voucher|%>
  <li><a href='/vouchers/<%=voucher.id%>'><%@stores.each do |store|%>
  <%=store.store_name%>
  <%end%></a></li>   
  <li>Savings: <%=voucher.savings%><%=voucher.options%></li>
  <li>Voucher Code: <strong><%=voucher.code%></strong></li>
  <li>Expiry Date: <%=voucher.exp_date%></li>
<%end%>

<br><br>

<a href='/vouchers/new'>Save a new discount voucher code here</a>

