<h3><%=@voucher.store_name%></h3>
<br>
Voucher Code: <%=@voucher.code%>
<br>
Savings: <%=@voucher.savings%>
<br>
Expiry Date: <%=@voucher.exp_date%>
<br><br>
<a href='/vouchers/<%=@voucher.id%>/edit'>Edit</a>
<br><br>
<form action='/vouchers/<%=@voucher.id%>/delete' method='post'> 
  <input type='hidden' name='_method' value='delete'>
  <input type='hidden' name='id' value='<%=@voucher.id%>'>
  <input type='submit' value='Delete'> 
</form> 